# Application Ports
FRONTEND_PORT=
NEXT_API_PORT=

# Next.js Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PASSWORD_RESET_REDIRECT_URL=

# Vite/Frontend Configuration
VITE_NEXT_API_URL=
VITE_API_URL=
VITE_WS_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Admin Settings
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
